<<<<<<< HEAD
#preview-page {
    min-height: 100%;
    padding: 0 0 160px;
    color: #363738;
    background-color: #f4f7f8
}

#preview-user-header {
    background: #fff;
    padding: 60px 0 15px;
    margin-bottom: 24px;
    display: inline-block;
    width: 100%
}

.report_preview_promo_texts {
    background: #fff
}

.preview-layout {
    max-width: 1172px;
    padding: 0 16px;
    margin: 0 auto
}

.preview-columns {
    display: flex;
    flex-wrap: wrap;
    margin: 16px -15px 0;
    padding-top: 18px;
    position: relative
}

.preview-columns:before {
    content: '';
    background: rgba(134, 147, 158, 0.2);
    height: 1px;
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px
}

.preview-column {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 400px;
    padding: 0 15px
}

.preview-data {
    background: #fff;
    border-radius: 8px;
    padding: 14px 40px 30px;
    margin: 0 0 30px
}

.preview-data--new {
    color: #FF6436;
    font-weight: 700;
    font-size: 11px;
    padding-left: 4px;
    font-style: normal;
    vertical-align: super
}

.preview-header {
    font-size: 22px;
    font-weight: 400;
    color: #6C7981;
    margin: 0
}

.preview-layout h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0
}

.preview-layout h2 {
    font-size: 24px;
    font-weight: 600;
    color: #6C7981;
    margin: 43px 0 15px
}

.preview-column h2:first-child {
    margin-top: 0
}

.preview-data h3 {
    margin: 0 -40px 20px;
    padding: 0 40px 14px;
    border-bottom: 2px solid #F4F7FC
}

.preview-layout h5 {
    font-weight: 400;
    margin: 0 0 8px;
    font-size: inherit
}

#preview-ranks {
    display: flex;
    flex-wrap: wrap;
    padding-right: 8px
}

#preview-ranks .report-rating {
    flex-basis: 33.33%;
    min-width: 125px;
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 16px 0 0 8px
}

#preview-ranks .report-rating .report-rating-title {
    border: none;
    padding: 0;
    margin: 0 0 40px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    display: block
}

#preview-ranks .report-rating-ico {
    top: 16px;
    left: -24px
}

#preview-ranks .report-rating-val {
    float: none;
    text-align: left;
    font-size: 30px
}

#preview-ranks .data-loading {
    font-size: 18px
}

#preview-ranks .report-rating-subtype {
    margin: 0;
    position: absolute;
    top: 40px;
    font-size: 12px
}

#preview-signup-btn {
    font-size: 18px;
    margin-left: 16px;
    color: #f37138;
    display: inline-block;
    position: relative;
    cursor: pointer
}

#preview-signup-btn:after {
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    border-right: #f37a44 solid 2px;
    border-bottom: #f37a44 solid 2px;
    border-radius: 0 0 3px 0;
    transform: rotate(-45deg);
    vertical-align: middle;
    transform-origin: 100% 0;
    margin: -8px 0 0 8px
}

.preview-data-column {
    display: inline-block;
    width: 33%;
    vertical-align: top
}

.preview-data-val {
    font-weight: 700
}

.preview-data-left {
    float: left;
    width: 33%;
    margin: 0 0 24px
}

.preview-data-right {
    overflow: hidden
}

.preview-lock-list {
    clear: both;
    list-style: none;
    padding: 0;
    margin-bottom: 16px
}

.preview-lock-list li {
    position: relative;
    margin: 0 0 8px
}

.preview-lock-list span {
    background: #fff;
    position: relative;
    padding-right: 4px;
    display: inline-block;
    vertical-align: top;
    max-width: 95%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.preview-lock-list li:before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    border-bottom: #D0DDF4 dotted 2px
}

.preview-lock-list .fas {
    position: absolute;
    right: -4px;
    bottom: 4px;
    background: #fff;
    color: #86939E
}

#preview-promo-code {
    background: #fff;
    padding: 16px 0
}

.report_preview_data_val,
.report_preview_follower_change--perc {
    font-size: inherit
}

.kyb-percent-color--val {
    font-weight: 700
}

.preview_login_showed .preview-columns,
.preview_login_showed h4 {
    display: none
}

#kyb-pay-btns {
    padding-top: 16px;
    padding-bottom: 0;
    margin-bottom: 18px
}

#preview-progress {
    padding-top: 24px;
    margin-top: -48px;
    margin-bottom: 18px;
    padding-bottom: 0
}

.report_preview_promo_texts {
    background-color: rgba(225, 232, 238, 0.5);
    padding: 48px 0 30px 0;
    clear: both
}

.report_preview_promo_texts .kyb-col {
    display: flex;
    margin-top: 0
}

.report_preview_promo_text {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 32px 0 64px
}

.report_preview_promo_text p {
    margin-top: 8px
}


.report_preview_show_full_btn {
    clear: both;
    font-size: 18px;
    padding: 16px 0
}

.report_preview_show_full_btn .button {
    margin-bottom: 32px
}

.report_preview_show_full_btn--inc {
    color: #ff6436
}

.fixed .report_preview_show_full_btn--inc {
    display: none
}

.report_country_flag_ico {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 15px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: -4px 2px 0 0;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset
}

@media (max-width: 425px) {
    .report_preview_show_full_btn {
        margin-top: 48px
    }

    .report_preview_promo_texts {
        padding: 32px 0 8px 0
    }

    .report_preview_promo_texts .kyb-col {
        display: block
    }

    .report_preview_promo_text {
        margin-bottom: 32px
    }

    .kyb-user-info-v2 {
        margin-left: 8px
    }

    .preview-columns {
        display: block;
        margin: 16px 0 0
    }

    .preview-columns:before {
        left: 0;
        right: 0
    }

    .preview-column {
        min-width: auto;
        padding: 0
    }

    .preview-data {
        padding: 14px 20px 24px;
        overflow: hidden
    }

    .preview-data-left {
        float: none;
        width: auto;
        margin: 0 0 21px;
        line-height: 18px
    }

    .preview-data-right {
        margin-bottom: 24px;
        line-height: 18px
    }

    .preview-data-column {
        width: 49%
    }

    #preview-ranks {
        display: block;
        padding-bottom: 0
    }

    #preview-ranks .report-rating {
        padding: 8px 8px 8px 36px
    }

    #preview-ranks #report-country-rank,
    #preview-ranks #report-category-rank {
        border-top: #e9f0f8 solid 1px
    }

    #preview-ranks .report-rating-val {
        float: right
    }

    #preview-ranks .report-rating-ico {
        left: 0
    }

    #preview-ranks .report-rating .report-rating-title {
        display: inline-block;
        margin: 0 0 24px
    }

    #preview-signup-btn {
        margin-left: 0;
        padding-top: 7px
    }

    #preview-signup-btn:after {
        margin: -8px -5px 0 0
    }

    .preview-layout {
        padding: 0 8px
    }

    #preview-ranks .report-rating-subtype {
        top: 32px
    }

    #kyb-pay-btns {
        padding-left: 8px;
        padding-right: 8px
    }

    .tokens-pack-btn {
        left: 20px;
        right: 20px;
        bottom: 54px
    }

    .kyb-pay-btns--wrap {
        padding: 0 20px
    }

    .paypal-button div {
        width: 100% !important
    }

    #preview-progress {
        padding-top: 0;
        padding-bottom: 0
    }

    .kyb-report-preview {
        margin: 0
    }
}

.preview-data .kyb-audience-thematic {
    width: 100%;
    margin-top: 0
}

#report_preview_follower_growth {
    max-width: 440px;
    min-height: 293px
}

.kyb-email-block__desc-2 {
    color: #34373c;
    font-size: 16px;
    line-height: 24px;
    margin-top: 18px;
    margin-bottom: 12px
}

#report_preview_demography .far {
    width: 20px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle
}

.report_preview_data_val {
    font-weight: 700;
    font-size: 24px;
    display: inline-block
}

#kyb-pay-btns.fixed .kyb-pay-btns--wrap,
#report-preview-login-btn.fixed {
    position: fixed;
    bottom: 0;
    background: #fff;
    box-shadow: 0 -5px 8px rgba(94, 105, 119, 0.25);
    width: 100%;
    padding: 16px 0 0;
    left: 0;
    z-index: 12
}

.kyb-pay-btns--wrap p {
    transition: margin .25s ease-in;
    height: auto
}

.fixed .kyb-pay-btns--wrap p,
.fixed .kyb-pay-btns--wrap h2 {
    height: 0;
    margin: 0;
    overflow: hidden
}

#preview-exit-intent-popup--title {
    font-size: 36px;
    font-weight: 300;
    color: #000;
    margin: 0 0 32px
}

.preview-exit-intent-popup .kyb-popup-wrap {
    box-shadow: 0 10px 50px rgba(196, 47, 0, 0.4), 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 700px;
    overflow: visible
}

.preview-exit-intent-popup .kyb-popup-content {
    padding: 64px 64px 48px;
    overflow: visible
}

.preview-exit-intent-popup .kyb-popup-content:after {
    content: ' ';
    position: absolute;
    top: 20px;
    left: -213px;
    width: 213px;
    height: 248px
}

.preview-exit-intent-popup p {
    line-height: 24px
}

#preview-exit-intent-popup--btns {
    text-align: center;
    padding-top: 32px
}

#preview-exit-intent-popup--btns .button {
    margin: 0 8px
}

#preview-exit-intent-popup--close {
    font-weight: 300
}

#report_preview_follower_growth--img {
    width: 100%
}

#preview-page .container {
    max-width: 1015px
}

#preview-page .plan-promo__block--first,
.hype-paywall-popup .plan-promo__block--first {
    display: none
}

/*# sourceMappingURL=maps/preview.css.map */
=======
@font-face{font-family:'Sans';src:url("../fonts/sans.woff2") format("woff2"),url("../fonts/sans.woff") format("woff"),url("../fonts/sans.svg#SansRegular") format("svg");font-weight:400;font-style:normal}@font-face{font-family:'Sans';src:url("../fonts/sansbold.woff2") format("woff2"),url("../fonts/sansbold.woff") format("woff"),url("../fonts/sansbold.svg#SansBold") format("svg");font-weight:700;font-style:normal}#preview-page{min-height:100%;padding:0 0 160px;color:#363738;background-color:#f4f7f8}#preview-user-header{background:#fff;padding:60px 0 15px;margin-bottom:24px;display:inline-block;width:100%}.report_preview_promo_texts{background:#fff}.preview-layout{max-width:1172px;padding:0 16px;margin:0 auto}.preview-columns{display:flex;flex-wrap:wrap;margin:16px -15px 0;padding-top:18px;position:relative}.preview-columns:before{content:'';background:rgba(134,147,158,0.2);height:1px;position:absolute;top:0;left:15px;right:15px}.preview-column{flex-basis:50%;flex-grow:1;min-width:400px;padding:0 15px}.preview-data{background:#fff;border-radius:8px;padding:14px 40px 30px;margin:0 0 30px}.preview-data--new{color:#FF6436;font-weight:700;font-size:11px;padding-left:4px;font-style:normal;vertical-align:super}.preview-header{font-size:22px;font-weight:400;color:#6C7981;margin:0}.preview-layout h3{font-size:18px;font-weight:600;margin:0}.preview-layout h2{font-size:24px;font-weight:600;color:#6C7981;margin:43px 0 15px}.preview-column h2:first-child{margin-top:0}.preview-data h3{margin:0 -40px 20px;padding:0 40px 14px;border-bottom:2px solid #F4F7FC}.preview-layout h5{font-weight:400;margin:0 0 8px;font-size:inherit}#preview-ranks{display:flex;flex-wrap:wrap;padding-right:8px}#preview-ranks .report-rating{flex-basis:33.33%;min-width:125px;flex-grow:1;border:none;margin:0;padding:16px 0 0 8px}#preview-ranks .report-rating .report-rating-title{border:none;padding:0;margin:0 0 40px;line-height:24px;font-size:16px;font-weight:400;display:block}#preview-ranks .report-rating-ico{top:16px;left:-24px}#preview-ranks .report-rating-val{float:none;text-align:left;font-size:30px}#preview-ranks .data-loading{font-size:18px}#preview-ranks .report-rating-subtype{margin:0;position:absolute;top:40px;font-size:12px}#preview-signup-btn{font-size:18px;margin-left:16px;color:#f37138;display:inline-block;position:relative;cursor:pointer}#preview-signup-btn:after{display:inline-block;content:'';width:12px;height:12px;border-right:#f37a44 solid 2px;border-bottom:#f37a44 solid 2px;border-radius:0 0 3px 0;transform:rotate(-45deg);vertical-align:middle;transform-origin:100% 0;margin:-8px 0 0 8px}.preview-data-column{display:inline-block;width:33%;vertical-align:top}.preview-data-val{font-weight:700}.preview-data-left{float:left;width:33%;margin:0 0 24px}.preview-data-right{overflow:hidden}.preview-lock-list{clear:both;list-style:none;padding:0;margin-bottom:16px}.preview-lock-list li{position:relative;margin:0 0 8px}.preview-lock-list span{background:#fff;position:relative;padding-right:4px;display:inline-block;vertical-align:top;max-width:95%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.preview-lock-list li:before{content:'';position:absolute;bottom:5px;left:0;width:100%;border-bottom:#D0DDF4 dotted 2px}.preview-lock-list .fas{position:absolute;right:-4px;bottom:4px;background:#fff;color:#86939E}#preview-promo-code{background:#fff;padding:16px 0}.report_preview_data_val,.report_preview_follower_change--perc{font-size:inherit}.kyb-percent-color--val{font-weight:700}.preview_login_showed .preview-columns,.preview_login_showed h4{display:none}#kyb-pay-btns{padding-top:16px;padding-bottom:0;margin-bottom:18px}#preview-progress{padding-top:24px;margin-top:-48px;margin-bottom:18px;padding-bottom:0}.report_preview_promo_texts{background-color:rgba(225,232,238,0.5);padding:48px 0 30px 0;clear:both}.report_preview_promo_texts .kyb-col{display:flex;margin-top:0}.report_preview_promo_text{flex-grow:1;flex-basis:0;padding:0 32px 0 64px}.report_preview_promo_text p{margin-top:8px}.report_preview_promo_text--1{background:url(../img/report_preview_about_1.png) 7px 6px no-repeat}.report_preview_promo_text--2{background:url(../img/report_preview_about_2.png) 32px 4px no-repeat}.report_preview_promo_text--3{background:url(../img/report_preview_about_4.png) 0 6px no-repeat}.report_preview_show_full_btn{clear:both;font-size:18px;padding:16px 0}.report_preview_show_full_btn .button{margin-bottom:32px}.report_preview_show_full_btn--inc{color:#ff6436}.fixed .report_preview_show_full_btn--inc{display:none}.report_country_flag_ico{display:inline-block;vertical-align:middle;width:20px;height:15px;background-position:0 50%;background-repeat:no-repeat;background-size:contain;margin:-4px 2px 0 0;border-radius:4px;box-shadow:0 0 0 1px rgba(0,0,0,0.2) inset}@media (max-width: 425px){.report_preview_show_full_btn{margin-top:48px}.report_preview_promo_texts{padding:32px 0 8px 0}.report_preview_promo_texts .kyb-col{display:block}.report_preview_promo_text{margin-bottom:32px}.kyb-user-info-v2{margin-left:8px}.preview-columns{display:block;margin:16px 0 0}.preview-columns:before{left:0;right:0}.preview-column{min-width:auto;padding:0}.preview-data{padding:14px 20px 24px;overflow:hidden}.preview-data-left{float:none;width:auto;margin:0 0 21px;line-height:18px}.preview-data-right{margin-bottom:24px;line-height:18px}.preview-data-column{width:49%}#preview-ranks{display:block;padding-bottom:0}#preview-ranks .report-rating{padding:8px 8px 8px 36px}#preview-ranks #report-country-rank,#preview-ranks #report-category-rank{border-top:#e9f0f8 solid 1px}#preview-ranks .report-rating-val{float:right}#preview-ranks .report-rating-ico{left:0}#preview-ranks .report-rating .report-rating-title{display:inline-block;margin:0 0 24px}#preview-signup-btn{margin-left:0;padding-top:7px}#preview-signup-btn:after{margin:-8px -5px 0 0}.preview-layout{padding:0 8px}#preview-ranks .report-rating-subtype{top:32px}#kyb-pay-btns{padding-left:8px;padding-right:8px}.tokens-pack-btn{left:20px;right:20px;bottom:54px}.kyb-pay-btns--wrap{padding:0 20px}.paypal-button div{width:100% !important}#preview-progress{padding-top:0;padding-bottom:0}.kyb-report-preview{margin:0}}.preview-data .kyb-audience-thematic{width:100%;margin-top:0}#report_preview_follower_growth{max-width:440px;min-height:293px}.kyb-email-block__desc-2{color:#34373c;font-size:16px;line-height:24px;margin-top:18px;margin-bottom:12px}#report_preview_demography .far{width:20px;font-size:20px;text-align:center;vertical-align:middle}.report_preview_data_val{font-weight:700;font-size:24px;display:inline-block}#kyb-pay-btns.fixed .kyb-pay-btns--wrap,#report-preview-login-btn.fixed{position:fixed;bottom:0;background:#fff;box-shadow:0 -5px 8px rgba(94,105,119,0.25);width:100%;padding:16px 0 0;left:0;z-index:12}.kyb-pay-btns--wrap p{transition:margin .25s ease-in;height:auto}.fixed .kyb-pay-btns--wrap p,.fixed .kyb-pay-btns--wrap h2{height:0;margin:0;overflow:hidden}#preview-exit-intent-popup--title{font-size:36px;font-weight:300;color:#000;margin:0 0 32px}.preview-exit-intent-popup .kyb-popup-wrap{box-shadow:0 10px 50px rgba(196,47,0,0.4),0 4px 4px rgba(0,0,0,0.25);width:700px;overflow:visible}.preview-exit-intent-popup .kyb-popup-content{padding:64px 64px 48px;overflow:visible}.preview-exit-intent-popup .kyb-popup-content:after{content:' ';background:url("../img/cat_speaks.png") 0 0 no-repeat;position:absolute;top:20px;left:-213px;width:213px;height:248px}.preview-exit-intent-popup p{line-height:24px}#preview-exit-intent-popup--btns{text-align:center;padding-top:32px}#preview-exit-intent-popup--btns .button{margin:0 8px}#preview-exit-intent-popup--close{font-weight:300}#report_preview_follower_growth--img{width:100%}#preview-page .container{max-width:1015px}#preview-page .plan-promo__block--first,.hype-paywall-popup .plan-promo__block--first{display:none}

/*# sourceMappingURL=maps/preview.css.map */
>>>>>>> b5ae9fa1b230c2110589694cb7ae0ea230526ef1
