/** Proxima Nova **/
@font-face {
    font-family: 'Proxima Nova';
    src: url("proxima/Proxima Nova Regular.woff2") format("woff2"), url("Proxima Nova Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("proxima/Proxima Nova Light.woff2") format("woff2"), url("Proxima Nova Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("proxima/Proxima Nova Semibold.woff2") format("woff2"), url("Proxima Nova Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("proxima/Proxima Nova Bold cyrillic.woff2") format("woff2"), url("Proxima Nova Bold.otf") format("opentype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("proxima/Proxima Nova Bold cyrillic.woff2") format("woff2"), url("Proxima Nova Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("proxima/Proxima Nova Bold cyrillic.woff2") format("woff2"), url("Proxima Nova Bold.otf") format("opentype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("proxima/Proxima Nova Bold.woff2") format("woff2"), url("Proxima Nova Bold.otf") format("opentype");
    font-weight: bold;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("proxima/Proxima Nova Bold.woff2") format("woff2"), url("Proxima Nova Bold.otf") format("opentype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("proxima/Proxima Nova Black.woff2") format("woff2"), url("Proxima Nova Black.otf") format("opentype");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("proxima/Proxima Nova Regular Italic.woff2") format("woff2"), url("Proxima Nova Regular Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("proxima/Proxima Nova Regular Italic.woff2") format("woff2"), url("Proxima Nova Regular Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("proxima/Proxima Nova Semibold Italic.woff2") format("woff2"), url("Proxima Nova Semibold Italic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("proxima/Proxima Nova Bold Italic.woff2") format("woff2"), url("Proxima Nova Bold Italic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("proxima/Proxima Nova Light Italic.woff2") format("woff2"), url("Proxima Nova Light Italic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@media print {
    @font-face {
        font-family: 'Proxima Nova';
        src: url("Proxima Nova Regular.otf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Proxima Nova';
        src: url("Proxima Nova Light.otf") format("opentype");
        font-weight: 300;
        font-style: normal;
    }
    @font-face {
        font-family: 'Proxima Nova';
        src: url("Proxima Nova Semibold.otf") format("opentype");
        font-weight: 600;
        font-style: normal;
    }
    @font-face {
        font-family: 'Proxima Nova';
        src: url("Proxima Nova Bold.otf") format("opentype");
        font-weight: bold;
        font-style: normal;
    }
    @font-face {
        font-family: 'Proxima Nova';
        src: url("Proxima Nova Bold.otf") format("opentype");
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'Proxima Nova';
        src: url("Proxima Nova Regular Italic.otf") format("opentype");
        font-weight: normal;
        font-style: italic;
    }
    @font-face {
        font-family: 'Proxima Nova';
        src: url("Proxima Nova Regular Italic.otf") format("opentype");
        font-weight: 400;
        font-style: italic;
    }
}