#content {
    padding: 0 68px
}

#report-instagram {
    padding: 0 0 0 12px;
    max-width: 100%
}

.kyb-chart-group__table {
    width: auto
}

.kyb-top-menu__el--link,
.kyb-second-form,
.kyb-our-promo,
.kyb-whats-that,
.kyb-dot.kyb-tooltip-target:after,
.hiddenOurIp-toggle--wrapper,
#kyb-save-as-pdf-btn,
.kyb-footer-lang,
.kyb-report-disclaimer,
.kyb-report-tabs,
.kyb-top-promo,
.kyb-footer-logout,
.kyb-support-contact__ava-wr,
.kyb-share-report,
.kyb-top-menu--links-wrap,
.kyb-aurora-btn,
.kyb-soc-ico--wrap,
.kyb-support-contact__phone .kyb-jslink,
#kyb-top-get-report,
.kyb-edit-topics--btn,
.kyb-audience-thematic--view-all,
.feedback-container-tooltip,
.kyb-footer--menu,
.report-menu,
.kyb-report-day .kyb-jslink,
#report-lookalike,
#report-lookalike,
#nps-container,
#report-achievements,
.kyb-tooltip-target:after,
.kyb-dot.kyb-tooltip-target:after,
.kyb-footer--contact-phone .kyb-jslink,
.not-for-pdf,
.report-profile-tabs,
.similar-channels__item_total,
.kyb-footer--contact-phone,
.report-aqs--desc-wrap p .kyb-jslink,
.yt-report-mention--sidebar,
.report-header--info-link,
#report-menu {
    display: none !important
}

.kyb-logo--wrap {
    float: none
}

.kyb-content {
    padding-top: 0 !important
}

.kyb-report-tab,
.kyb-charts-box__title-h {
    display: block !important;
    overflow: hidden;
    clear: both
}

#kyb-brand-mentions .kyb-axe-block__pdf-left {
    width: auto;
    float: none;
    text-align: left
}

.er-chart {
    margin-left: -15px
}

.kyb-highcharts {
    margin-left: 10px
}

#hype-report-audience {
    margin-top: 0
}

.highcharts-audience {
    margin: 0 20px 0 0 !important;
    top: 0 !important
}

.highcharts-container {
    min-height: auto !important
}

.highcharts-synchronized,
.highcharts-synchronized .report_preview_follower_change {
    margin-left: 0 !important
}

.highcharts-synchronized {
    width: 712px
}

.kyb-support-contact--v2 .kyb-support-contact__text {
    flex: auto !important
}

.kyb-divider {
    page-break-before: auto;
    margin: 0;
    background: none
}

.kyb-page-break,
#report-aqs {
    page-break-after: always
}

.yt-report-mention-wrap,
.report-similar-channels {
    page-break-before: always;
    padding-top: 0
}

#report-tab-content .yt-report-aqs-wrap {
    margin-bottom: 0
}

.similar-channels {
    background: transparent;
    border: none
}

.similar-channels__list {
    margin: 0 -10px
}

.similar-channels__item--title {
    margin-top: 6px
}

.similar-channels__item--info {
    margin-top: -6px
}

.integration-price-wrap {
    border-top: 0;
    padding-top: 0
}

.kyb-result-caption {
    width: 75%
}

.i-table__cell .kyb-result-caption {
    width: auto
}

.i-table__cell .kyb-dot {
    min-width: 220px
}

.highcharts-container,
.kyb-axe-block,
.kyb-gray-block,
.kyb-audience-score--v2,
.kyb-report-tab,
.kyb-charts-box__col-2,
.kyb-support-contact,
.report-demography-wrap,
#report-demography-wrap,
#report-content-analytics--wrap,
#report-content--wrap,
.yt-report-aqs-wrap {
    page-break-inside: avoid
}

.kyb-title-group {
    page-break-inside: avoid;
    float: none;
    display: block
}

h2.kyb-dot {
    font-size: 18px;
    line-height: 28px
}

.highcharts-country-wr {
    padding: 0 !important;
    margin: 0 0 12px;
    overflow: hidden;
    width: 100%
}

.kyb-charts-box__gender {
    margin-bottom: 12px !important
}

.kyb-gray-block .kyb-axe-block {
    padding-left: 16px
}

.highcharts-synchronized {
    margin: 0 !important
}

.kyb-audience-thematic--h {
    display: block !important
}

.kyb-chart-group {
    display: flex;
    flex-wrap: nowrap
}

.kyb-top-menu {
    position: relative;
    background: none;
    box-shadow: none;
    padding-left: 32px;
    min-height: auto
}

.kyb-top-menu__content {
    height: auto
}

.kyb-charts-box__col-1,
.kyb-charts-box__col-2 {
    padding: 1px 16px 0;
    float: none;
    max-width: none
}

.kyb-charts-box__title {
    margin-right: 0;
    margin-left: 0;
    display: block
}

.kyb-score-tag__desc {
    opacity: 1;
    color: rgba(255, 255, 255, 0.5)
}

.kyb-footer {
    padding: 32px 32px 0
}

.kyb-title-group__el--desc {
    display: block
}

.highcharts-country__labels {
    min-width: 210px !important
}

.kyb-col,
.kyb-user-info-v2--v1 {
    margin-top: 16px !important
}

.kyb-axe-block.mv-xxl {
    margin-top: 24px;
    margin-bottom: 24px
}

.kyb-support-contact--v1 {
    padding: 0 32px
}

#report-branded-users--list.collapsed {
    white-space: normal
}

#content .report-header--wrap {
    padding: 16px 0 20px
}

#content .report-header {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center
}

#content .report-header--ava {
    float: none;
    margin: 0 0 16px 0;
    order: -1
}

#content .report-header--info {
    order: -1;
    min-width: 100%;
    text-align: center;
    margin: 0 0 16px
}

#content .report-header--info h1 {
    display: block;
    padding: 0;
    margin: 0
}

#content .report-header--info-name,
#content .report-header--topics {
    vertical-align: middle;
    margin-top: 0
}

#content #preview-about {
    padding: 0;
    margin: 0;
    max-width: none;
    display: block;
    max-height: none
}

#content .report-overview--wrap {
    padding: 0;
    margin: 0;
    background: none
}

#content .report-columns {
    display: block
}

#content .report-columns:after {
    content: '';
    display: block;
    clear: both
}

#content .report-column25,
#content .report-column33 {
    float: left;
    width: 50%;
    max-width: none;
    margin: 0 0 24px;
    page-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid
}

#content .report-column33 {
    width: 33.333%;
    margin: 0
}

#content #report-content-analytics--wrap,
#content #report-content--wrap {
    padding-top: 8px;
    background: none
}

#content .report-tabs--content {
    display: block;
    padding: 0;
    margin: 0 0 24px
}

#content .report-demography-countries-wrap,
#content .report-demography-chart--audience_age_gender {
    padding: 0
}

#content .report-demography-chart--legend-item {
    margin: 0 24px 0 0
}

#content .report-demography--title {
    display: block;
    margin: 0 0 16px
}

#content .report-graph {
    padding: 0;
    min-height: 220px
}

#content .report-graph--min-max {
    top: 110px
}

#content .report-caption {
    margin: 0
}

.report-overview,
.report-buttons,
#report-content-analytics,
#report-content,
.report-layout,
#report-header-title {
    padding: 0 !important
}

#report-ranks {
    background: none !important
}

.report-rank {
    padding: 22px 15px !important
}

.report-rank--link strong {
    font-size: 16px !important
}

#report-content--list .report-column25 {
    height: 344px
}

#report-content-analytics--stats .report-column25 {
    margin: 0 0 48px
}

#ytDemographyFeedback,
#report-content--sort .fa-angle-down,
#preview-about.collapsed:after,
.report-tabs--menu,
.report-overview--more-wrap,
#report-tab-content .report-caption {
    display: none
}

#report-content--sort .dropdown-title {
    border: none !important
}

#report-content .report-content-item {
    margin: 0 10px 20px
}

.report-graph--wrap {
    max-height: 180px
}

.report-graph--diff-v {
    line-height: unset !important
}

.kyb-top-menu {
    height: auto;
    background: none !important;
    box-shadow: none !important
}

.kyb-logo--wrap,
.kyb-logo {
    margin: 0
}

#report-content-analytics--wrap {
    border-top: none !important
}

#report-overview-graphs .report-graph--title {
    display: block
}

.integration-price__factors {
    margin-left: 40px
}

.integration-price__factor {
    margin-right: 15px
}

.integration-price__factor__title {
    min-height: 3em;
    letter-spacing: 0
}

.integration-price__factor__value {
    font-size: 14px
}

#report-ranks .report-columns {
    margin: 0
}

.report-buttons {
    width: 100%
}

.yt-report-mention--item {
    min-height: 130px
}

.yt-report-mention--img-wrap .kyb-jslink {
    color: inherit;
    text-decoration: none
}

#report-tab-content h2 {
    line-height: 48px
}

/*# sourceMappingURL=maps/report_pdf.css.map */